
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
}

html.aumentar {
  font-size: 120%;
}

html.diminuir {
  font-size: 85%;
}

body.contraste {
  background-color: #000 !important;
  color: #fff !important;
}

body.contraste a,
body.contraste th,
body.contraste td {
  color: #0ff !important;
}

.card .card-text {
  font-size: 2rem;
  font-weight: bold;
}

.custom-header {
  background-color: #e6f4ff;
}

.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25D366;
  color: white;
  padding: 10px 16px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.btn-whatsapp:hover {
  background-color: #1ebe5d;
}
